<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.exgou.open_file">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT"/>
            <data android:mimeType="*/*"/>
        </intent>
    </queries>
    <application
            android:usesCleartextTraffic="true"
            android:networkSecurityConfig="@xml/network_security_config"
            tools:replace="android:networkSecurityConfig">
    </application>
</manifest>
